#testo-bianco{
    color: white;
    padding-left: 20px;
    padding-top: 40px;
}
#cornice{
    background-color: turquoise;
    background-image: url(./img/pattern.png);
    background-repeat: repeat;
    background-size: contain;
    width: 1600px;
    height: 80px;

}
#scrittaP{
    color: gray;

}
#scritta{
color: blue;

}

    
  #evidenziatore{
      background: yellow;
      
  }  