
  #titolo{
      text-align: center;
  }  

#cornice{
    
    background-color: aquamarine;
    background-size: contain;
    object-fit: cover;
    width: 1600px;
    height: 90px;
    
}
#testo-bianco{
    text-decoration: white;
}
#img{
    float: inline-start;
    margin: 100px;
    
    
}